[submodule "jenkinstools"]
	path = jenkinstools
	url = git@asterix.cyberarmor.io:cyberarmor/jenkinstools.git
	branch = master
[submodule "vendor/asterix.cyberarmor.io/cyberarmor/capacketsgo"]
	path = vendor/asterix.cyberarmor.io/cyberarmor/capacketsgo
	url = git@asterix.cyberarmor.io:cyberarmor/capacketsgo.git
[submodule "vendor/asterix.cyberarmor.io/cyberarmor"]
	path = vendor/asterix.cyberarmor.io/cyberarmor
	url = git@asterix.cyberarmor.io:cyberarmor/capacketsgo.git
