[submodule "jenkinstools"]
	path = jenkinstools
	url = git@github.com:armosec/jenkinstools.git
	branch = master

[submodule "vendor/github.com/armosec/armosec/capacketsgo@0.0.1"]
	path = vendor/github.com/armosec/armosec/capacketsgo@0.0.1
	url = git@github.com:armosec/capacketsgo.git
	branch = master
